# Исходный код (Приватный)
hbrute/
_hbrute_backup/
hbuilder.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
dist/
*.egg-info/

# Специфично для проекта
screenshots/
hbrute.vdb

# Системные файлы
.DS_Store
Thumbs.db
